@tailwind base;
@tailwind components;
@tailwind utilities;

.oval-bottom-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px; /* Adjust height as needed */
  z-index: 1; /* Ensure oval-bottom is above other content */
}

.oval-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: blue;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.oval-top-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px; /* Adjust height as needed */
  z-index: 1; /* Ensure oval-top is above other content */
}

.oval-top {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: white;
}

.oval-top::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #28C2A0;
  height: 200px; /* This should be twice the height of the div */
  border-radius: 50%;
}
